html,body{
background-color:black;
}



*{
z-index: 1 !important;
}


div.position-fixed{
  z-index:999999 !important;
  transition: all 3s;
}


.container{
  width: 90%;
}
.header{
  width:50px ;
}

#logo{
  width: 80%;
}

.cursor-pointer{
  cursor: pointer;
}

.list{
  list-style: none;
  
}
.d-none.active{
  display: flex;
  
}

i.fa-house-laptop{
  font-size: 70px;
  font-weight: 900;
}




.fa-globe,.fa-share-nodes{
  font-size: 17px;
}


.nav{
  background-color:black;
}




.nav .links ul li {
  opacity: 0;             
  transform: translateY(20px); 
  animation: fadeIn 0.2s forwards; 
}


@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.nav .links ul li:nth-child(1) {
  animation-delay: 0.1s;
}
.nav .links ul li:nth-child(2) {
  animation-delay: 0.2s;
}
.nav .links ul li:nth-child(3) {
  animation-delay: 0.3s;
}
.nav .links ul li:nth-child(4) {
  animation-delay: 0.4s;
}
.nav .links ul li:nth-child(5) {
  animation-delay: 0.5s;
}








.card-body{
  transform: translateY(100%);
  transition:all 0.4s ;
 z-index: 1;
 
}

.card:hover .card-body{
  transform: translateY(0);  
overflow: hidden;

}


.color-recipes{
  background-color: rgb(207, 244, 252);
  color:RGB(5, 81, 96)
}




.clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp:3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
}

input{
  background-color:transparent !important;

}


input::placeholder{
  color:rgb(108, 117, 125) !important;
}



#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000 ;
  opacity: 1;
  transition: opacity 0.5s ease; 

}


.spinner {
  width: 80px;
  height: 80px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #ff6b6b; 
  border-radius: 50%;
  animation: spin 1s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
